.p1 {
    font-family: arial;
}

.p2 {
    font-family: verdana;
}

.p3 {
    font-family: georgia;
}

.p4 {
    font-family: 'Times New Roman';
}

.p5 {
    font-family: 'courier new';
}